---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col justify-center">
        <h1 class="text-2xl text-bold p-2 m-2 justify-center text-center pt-12">
            Hi, this is my dirary! Writen in Astro!
        </h1>
        <div class="flex flex-col"></div>
    </div>
</Layout>
