<!doctype html>
<html>
    <head>
        <title>{% block title %}Undefined{% endblock %} - 元皓's Diary</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/font.css" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <!--Tracking-->
    <script
        defer
        src="https://data.yuanhau.com/script.js"
        data-website-id="e65f50ae-2b34-4fdb-8c97-adf30f2479ea"
    ></script>
</html>
